/* div {
  padding: 10px 10px 0 10px;
} */

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1;
  }
  25%, 75% {
    opacity: 0;
  }
}

.flash-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flash {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: rgba(0, 55, 255, 0.601); /* Adjust the color as needed */
  animation: flash 2s infinite; /* Adjust the duration as needed */
}
