<main>
  <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
    <div class="table w-full mt-5">
      <table class="table w-full bg-white border rounded-lg shadow-lg">
        <thead>
          <tr>
            <th
              class="px-3 py-3 text-left text-xs sm:text-sm md:text-base font-medium text-gray-600 uppercase tracking-wider"
            >
              ID
            </th>
            <th
              class="px-3 py-3 text-left text-xs sm:text-sm md:text-base font-medium text-gray-600 uppercase tracking-wider"
            >
              Name
            </th>
            <th
              class="px-3 py-3 text-left text-xs sm:text-sm md:text-base font-medium text-gray-600 uppercase tracking-wider"
            >
              Type
            </th>
            <th
              class="px-3 py-3 text-left text-xs sm:text-sm md:text-base font-medium text-gray-600 uppercase tracking-wider"
            >
              Email
            </th>
            <th
              class="px-3 py-3 text-left text-xs sm:text-sm md:text-base font-medium text-gray-600 uppercase tracking-wider"
            >
              Phone
            </th>
            <th
              class="px-3 py-3 text-left text-xs sm:text-sm md:text-base font-medium text-gray-600 uppercase tracking-wider"
            >
              Address
            </th>
            <th
              class="px-3 py-3 text-left text-xs sm:text-sm md:text-base font-medium text-gray-600 uppercase tracking-wider"
            >
              Modifying
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of dataSource" class="even:bg-gray-100">
            <td class="px-3 py-3 whitespace-wrap font-medium">
              {{ element._id }}
            </td>
            <td class="px-3 py-3 whitespace-wrap font-medium">
              {{ element.name }}
            </td>
            <td class="px-3 py-3 whitespace-wrap font-medium">
              {{ element.type }}
            </td>
            <td class="px-3 py-3 whitespace-wrap font-medium">
              {{ element.email }}
            </td>
            <td class="px-3 py-3 whitespace-wrap font-medium">
              {{ element.phone }}
            </td>
            <td class="px-3 py-3 whitespace-wrap font-medium">
              {{ element.address }}
            </td>
            <td class="px-3 py-3 whitespace-wrap font-medium">
              <button
                (click)="handleOnDelete(element._id)"
                class="text-red-500 mr-2 modifying-button"
              >
                <i class="fas fa-trash"></i>
              </button>
              <button class="text-green-500 modifying-button">
                <i class="fas fa-pen-to-square"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
