<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- ID Column -->
  <ng-container matColumnDef="ID">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let element" class="wrapping">
      {{ element._id }}
    </mat-cell>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Name">
    <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.name }} </mat-cell>
  </ng-container>

  <!-- Type Column -->
  <ng-container matColumnDef="Type">
    <mat-header-cell *matHeaderCellDef> Type </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.type }} </mat-cell>
  </ng-container>

  <!-- Phone Column -->
  <ng-container matColumnDef="Phone">
    <mat-header-cell *matHeaderCellDef> Phone </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.phone }} </mat-cell>
  </ng-container>

  <!-- Email Column -->
  <ng-container matColumnDef="Email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let element" class="wrapping">
      {{ element.email }}
    </mat-cell>
  </ng-container>

  <!-- Address Column -->
  <ng-container matColumnDef="Address">
    <mat-header-cell *matHeaderCellDef> Address </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{ element.address }} </mat-cell>
  </ng-container>

  <!-- Modifying Column -->
  <ng-container matColumnDef="Modifying">
    <mat-header-cell *matHeaderCellDef> Modifying </mat-header-cell>
    <mat-cell *matCellDef="let element">
      <button (click)="handleOnDelete(element._id)">
        <i class="fa-solid fa-trash" style="color: #ff0000"></i>
      </button>
      <button>
        <i class="fa-solid fa-pen-to-square" style="color: #00ff00"></i>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
