<!-- popup.component.html -->
<div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="showPopup">
  <div
    class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0"
  >
    <!-- Background overlay -->
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    ></div>

    <!-- Modal -->
    <div
      class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full"
    >
      <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
        <!-- Modal content -->
        <form [formGroup]="updateJobForm" (ngSubmit)="OnSubmit()">
          <div class=" mt-3 dentist-form w-fit">
            
            <div class="flex flex-row justify-between bg-gray-50 px-4 py-3 sm:flex sm:flex-row sm:px-6">
              <h2 class="text-base font-semibold leading-7 text-gray-900">
              update Job Info.
            </h2>
            <button
              type="submit"
              [disabled]="updateJobForm.invalid"
              class="inline-flex w-full justify-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 sm:ml-3 sm:w-auto"
            >
              <i class="fa fa-spin fa-spinner" *ngIf="isLoading"></i>
              <span *ngIf="!isLoading"> Update job </span>
            </button>
            
          </div>
             <p
                    class="mt-1 text-sm leading-6 text-gray-600"
                    [ngStyle]="{ color: failMsg != '' ? 'red' : 'green' }"
                  >
                    <span *ngIf="successMsg != ''">{{ successMsg }}</span>
                    <span *ngIf="failMsg != ''">{{ failMsg }}</span>
                  </p>
            <div class="flex flex-row px-4">
              <div
                class="mt-7 grid grid-cols-1 gap-x-6 gap-y-5 sm:grid-cols-6 me-10"
              >
                <!-- serial -->
                <div class="lg:col-span-2 sm:col-span-6">
                  <label
                    for="serial"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >serial</label
                  >
                  <div class="mt-2">
                    <input
                      id="serial"
                      name="serial"
                      type="text"
                      autocomplete="serial"
                      formControlName="serial"
                      placeholder=" Serial of job"
                      class="block w-full rounded-md focus:outline-none border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:text-sm sm:leading-6 bg-gray-100"
                      readonly
                    />
                  </div>
                </div>
                   <!-- Patient Name -->
                <div class="lg:col-span-3 sm:col-span-6">
                  <label
                    for="pationName"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Patient Name</label
                  >
                  <div class="mt-2">
                    <input
                      type="text"
                      name="pationName"
                      id="pationName"
                      formControlName="pationName"
                      autocomplete="pationName"
                      placeholder="Patient Name"
                      class="block w-full rounded-md border-0 focus:outline-none text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:text-sm sm:leading-6"
                      />
                  </div>
                  <div class="text-red">
            <span
              *ngIf="
                updateJobForm.controls.pationName.touched &&
                updateJobForm.controls.pationName.hasError('required')
              "
              >This field is required</span
            >
          </div>
          <div class="text-red">
            <span
              *ngIf="
                updateJobForm.controls.pationName.hasError('maxlength')
              "
              >This field should be less than 40</span
            >
          </div>
          <div class="text-red">
            <span
              *ngIf="
                updateJobForm.controls.pationName.hasError('pattern')
              "
              >This field only allow letters ,space and ()</span
            >
          </div>
                </div>

                <!-- TRy In -->
                <div class="lg:col-span-1 sm:col-span-6 pt-3">
                  <label
                    for="tryIn"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Try in</label
                  >
                  <label
                    class="relative inline-flex items-center cursor-pointer"
                  >
                    <input
                      type="checkbox"
                      value="true"
                      id="tryIn"
                      autocomplete="tryIn"
                      formControlName="tryIn"
                      name="tryIn"
                      class="sr-only peer"
                    />

                    <div
                      class="w-11 h-6 bg-gray-200 rounded-full focus:outline-none peer peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 dark:bg-gray-700 peer-checked:after:translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:left-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-5 after:w-5 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
                    ></div>
                  </label>
                </div>
               
                 <!--  Shade -->
                <div class="lg:col-span-2 sm:col-span-6">
                  <label
                    for="shade"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Shade</label
                  >
                  <div class="mt-2 relative">
                    <input
                      id="shade"
                      name="shade"
                      type="text"
                      autocomplete="shade"
                      formControlName="shade"
                      placeholder="ex: A1 or A1/A3"
                      class="block w-full rounded-md border-0 focus:outline-none text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-blue-300 sm:max-w-xs sm:text-sm sm:leading-6"

                      />
                  </div>
                  <div class="text-red">
                    <span
                      *ngIf="
                        updateJobForm.controls.shade.touched &&
                        updateJobForm.controls.shade.hasError('required')
                      "
                      >This field is required</span
                    >
                  </div>
                   <div class="text-red">
            <span
              *ngIf="
                updateJobForm.controls.shade.hasError('pattern')
              "
              > ex: A3.5 or 3L2</span
            >
          </div>
                </div>

                <!-- Price -->
                <div class="lg:col-span-2 sm:col-span-6">
                  <label
                    for="price"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >price</label
                  >
                  <div class="mt-2">
                    <input
                      id="price"
                      name="price"
                      type="text"
                      autocomplete="price"
                      formControlName="price"
                      class="block w-full rounded-md border-0 focus:outline-none text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:max-w-xs sm:text-sm sm:leading-6"
                      />
                  </div>
                  <div class="text-red">
                    <span
                      *ngIf="
                        updateJobForm.controls.price.touched &&
                        updateJobForm.controls.price.hasError('required')
                      "
                      >This field is required</span
                    >
                  </div>
                    <div class="text-red">
            <span
              *ngIf="
                updateJobForm.controls.price.hasError('pattern')
              "
              > price must be number Only</span
            >
          </div>
                </div>

                <!-- Type Of Work -->
                <div class="lg:col-span-2 sm:col-span-6">
                  <label
                    for="typeOfWork"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >Type Of Work</label
                  >
                  <div class="mt-2">
                    <select
                      id="typeOfWork"
                      name="typeOfWork"
                      autocomplete="typeOfWork"
                      class="block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:max-w-xs sm:text-sm sm:leading-6"
                      formControlName="typeOfWork"
                      (change)="totlePrice()"
                    >
                      <option value="" selected disabled>Type of work</option>
                      <option value="PFM">PFM</option>
                      <option value="Zircon">Zircon</option>
                    </select>
                  </div>
                  <div class="text-red">
                    <span
                      *ngIf="
                        updateJobForm.controls.typeOfWork.touched &&
                        updateJobForm.controls.typeOfWork.hasError('required')
                      "
                      >This field is required</span
                    >
                  </div>
                </div>
                

                 <div class="lg:col-span-2 sm:col-span-6">
                  <label
                    for="status"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >status</label
                  >
                  <div class="mt-2">
                    <select
                      id="status"
                      name="status"
                      autocomplete="status"
                      class="block w-full rounded-md border-0 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:max-w-xs sm:text-sm sm:leading-6"
                      formControlName="status"
                    >
                      <option value="" selected disabled>status</option>
                      <option value="cast">cast</option>
                      <option value="build">build</option>
                      <option value="finish">finish</option>
                    </select>
                  </div>
                  <div class="text-red">
                    <span
                      *ngIf="
                        updateJobForm.controls.typeOfWork.touched &&
                        updateJobForm.controls.typeOfWork.hasError('required')
                      "
                      >This field is required</span
                    >
                  </div>
                </div>
                <!-- DeadLine -->
                <div class="lg:col-span-3 sm:col-span-6">
                  <label
                    for="deadLine"
                    class="block text-sm font-medium leading-6 text-gray-900"
                    >DeadLine</label
                  >
                  <div class="mt-2">
                    <input
                      id="deadLine"
                      name="deadLine"
                      type="date"
                      autocomplete="deadLine"
                      formControlName="deadLine"
                      class="block w-full rounded-md focus:outline-none border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:text-sm sm:leading-6"
                    />
                  </div>
                  <div class="text-red">
                    <span
                      *ngIf="
                        updateJobForm.controls.deadLine.touched &&
                        updateJobForm.controls.deadLine.hasError('required')
                      "
                      >This field is required</span
                    >
                  </div>
                </div>
                <!-- <div class="lg:col-span-3 sm:col-span-6">
                  <label
                    for="pationName"
                    class="block text-sm font-medium leading-6 text-gray-900"
                  >
                    Working Teeth</label
                  >
                  <div class="mt-2">
                    <input
                      type="text"
                      id="teethNumber"
                      name="teethNumber"
                      autocomplete="teethNumber"
                      formControlName="teethNumber"
                      class="block w-full rounded-md border-0 focus:outline-none py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:text-sm sm:leading-6 "
                    />
                  </div>
                </div> -->
                <!-- stepper.component.html -->
         
    

              </div>
            </div>
            <div>
              <fieldset class="border border-gray-200 p-2 rounded-md">
                <legend class="text-lg">Add Comment</legend>
                <textarea
                  name="comments"
                  id="comments"
                  placeholder="write your comment or none"
                  formControlName="comments"
                  class="w-full p-2 border rounded-md focus:outline-none focus:ring focus:ring-blue-300"
                ></textarea>
              </fieldset>
            </div>
            <hr class="my-4" />
          
          </div>
        </form>
        <ng-content></ng-content>
      </div>
    </div>
  </div>
</div>
