<div class="container">
  <header class="bg-white shadow flex justify-between items-center">
    <div class="me-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
      <h1 class="text-5xl tracking-tight text-gray-900 font-light px-2">
        Our Staff
      </h1>
    </div>
    <div *ngIf="view" class="search-div mt-4 sm:mt-0 sm:ml-4 flex items-center">
      <input
        type="text"
        class="w-96 px-4 py-2 rounded-full bg-gray-200 border border-gray-300 focus:outline-none"
        placeholder="Search..."
        [(ngModel)]="searchValue"
      />
      <select
        name="searchby"
        autocomplete="searchby"
        class="block rounded-md border-0 py-1.5 text-gray-900 search-by"
        [(ngModel)]="searchBy"
      >
        <option disabled>Search by</option>
        <option value="all">All</option>
        <option value="ssn">SSN</option>
        <option value="name">Name</option>
        <option value="email">Email</option>
        <option value="jobTitle">jobTitle</option>
        <option value="phone">Phone</option>
        <option value="gender">Gender</option>
      </select>
    </div>
    <div class="mt-5 flex lg:ml-4 lg:mt-0 me-7">
      <span class="ml-3 hidden sm:block me-2">
        <button
          type="button"
          class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
          [ngStyle]="{
            'background-color': view ? '#3b82f6' : '',
            color: view ? 'white' : ''
          }"
          (click)="viewClients()"
        >
          <i
            class="fa-solid fa-eye me-2"
            [ngStyle]="{
              color: view ? 'white' : 'black'
            }"
          ></i>
          View
        </button>
      </span>
      <span class="hidden sm:block">
        <button
          type="button"
          class="inline-flex items-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50"
          [ngStyle]="{
            'background-color': view ? '' : '#3b82f6',
            color: view ? '' : 'white'
          }"
          (click)="addClient()"
        >
          <i
            class="fa-solid fa-pen me-2"
            [ngStyle]="{
              color: view ? 'black' : 'white'
            }"
          ></i>
          Add
        </button>
      </span>

      <span class="sm:ml-3"> </span>
    </div>
  </header>

  <div *ngIf="view">
    <app-staff-list
      [searchValue]="searchValue"
      [searchBy]="searchBy"
      [changer]="changer"
    ></app-staff-list>
  </div>
  <div *ngIf="!view">
    <app-staff-form></app-staff-form>
  </div>
</div>
