.container {
  height: 100vh;
}
.list-container {
  overflow-y: scroll;
  overflow-x: visible;
  height: calc(100vh - 96px);
}
.search-div {
  position: relative;
}

.search-by {
  position: absolute;
  top: 5px;
  right: 2px;
  background-color: transparent;
  width: fit-content;
}
.search-by:focus {
  outline: none;
  border: none;
}
option:hover {
  background-color: blue !important;
}
