<main>
  <div class="max-w-7xl py-6 sm:px-3 lg:px-3">
    <div class="table w-full mt-5">
      <table class="table w-full bg-white border rounded-lg shadow-lg">
        <thead>
          <tr>
            <th
              class="px-3 py-3 text-left text-xs sm:text-sm md:text-base font-medium text-gray-600 uppercase tracking-wider"
            >
              SSN
            </th>
            <th
              class="px-3 py-3 text-left text-xs sm:text-sm md:text-base font-medium text-gray-600 uppercase tracking-wider"
            >
              Name
            </th>
            <th
              class="px-3 py-3 text-left text-xs sm:text-sm md:text-base font-medium text-gray-600 uppercase tracking-wider"
            >
              Job Title
            </th>
            <th
              class="px-3 py-3 text-left text-xs sm:text-sm md:text-base font-medium text-gray-600 uppercase tracking-wider"
            >
              Email
            </th>
            <th
              class="px-3 py-3 text-left text-xs sm:text-sm md:text-base font-medium text-gray-600 uppercase tracking-wider"
            >
              Salary
            </th>
            <th
              class="px-3 py-3 text-left text-xs sm:text-sm md:text-base font-medium text-gray-600 uppercase tracking-wider"
            >
              Gender
            </th>
            <th
              class="px-3 py-3 text-left text-xs sm:text-sm md:text-base font-medium text-gray-600 uppercase tracking-wider"
            >
              Age
            </th>
            <th
              class="px-3 py-3 text-left text-xs sm:text-sm md:text-base font-medium text-gray-600 uppercase tracking-wider"
            >
              Phone
            </th>
            <th
              class="px-3 py-3 text-left text-xs sm:text-sm md:text-base font-medium text-gray-600 uppercase tracking-wider"
            >
              Modifying
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let element of dataSource" class="even:bg-gray-100">
            <td class="px-3 py-3 whitespace-wrap font-medium">
              {{ element.ssn }}
            </td>
            <td class="px-3 py-3 whitespace-wrap font-medium">
              {{ element.name }}
            </td>
            <td class="px-3 py-3 whitespace-wrap font-medium">
              {{ element.jobTitle }}
            </td>
            <td class="px-3 py-3 whitespace-wrap font-medium">
              {{ element.email }}
            </td>
            <td class="px-3 py-3 whitespace-wrap font-medium">
              {{ element.salary }}
            </td>
            <td class="px-3 py-3 whitespace-wrap font-medium">
              {{ element.gender }}
            </td>
            <td class="px-3 py-3 whitespace-wrap font-medium">
              {{ element.age }}
            </td>
            <td class="px-3 py-3 whitespace-wrap font-medium">
              {{ element.phone }}
            </td>
            <td class="px-3 py-3 whitespace-wrap font-medium">
              <button
                (click)="handleDelete(element._id)"
                class="text-red-500 mr-2"
              >
                <i class="fas fa-trash"></i>
              </button>
              <button (click)="handleOnUpdate(element)" class="text-green-500">
                <i class="fas fa-pen-to-square"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>
<div *ngIf="showModal">
  <app-staff-card
    [requiredStaff]="requiredStaff"
    (showModalChild)="handleClose($event)"
  ></app-staff-card>
</div>
