<div class="min-h-screen flex flex-col items-center justify-center bg-gray-100">

    <h2 class="mt-4 text-center text-3xl font-semibold">Register a/an</h2> 
  
    <!-- Button Code -->
    <ul class="flex justify-center space-x-10 text-lg mt-8">
      <li class="relative">
        <button
          (click)="selectedTab = 'admin'"
          [class]="selectedTab === 'admin' ? 'p-2 border-b-2 border-blue-500 bg-blue-200 hover:bg-blue-200 rounded-lg shadow-lg' : 'p-2 rounded-lg hover:bg-blue-200 shadow-md bg-blue-50'"
        >
        <i class="fa-solid fa-user-pen"></i> Admin

        </button>
      </li>
  
      <li class="relative">
        <button
          (click)="selectedTab = 'manager'"
          [class]="selectedTab === 'manager' ? 'p-2 border-b-2 border-blue-500 bg-blue-200 hover:bg-blue-200 rounded-lg shadow-lg' : 'p-2 rounded-lg hover:bg-blue-200 shadow-md bg-blue-50'"
        >
        <i class="fa-solid fa-user-gear"></i> Manager
        </button>
      </li>
    </ul>
  
    <!-- White Box -->
    <div class="bg-white p-2 shadow-lg rounded-md w-96 mt-4 h-96">
      <!-- Manager Form -->
      <ng-container *ngIf="selectedTab === 'admin'; else managerTab">
        <form class="h-full">
          <div class="h-full flex flex-col justify-between">
            <div>
              <div>
                <label for="adminUsername" class="block text-sm font-medium text-gray-600 mt-2">Username</label>
                <input type="text" id="adminUsername" class="form-input w-full p-2 mt-2 border border-blue-100 focus:outline-none focus:border-blue-200 rounded focus:ring focus:ring-blue-200" placeholder="admin username">
            </div>
            <div>
                <label for="adminEmail" class="block text-sm font-medium text-gray-600 mt-2">Email</label>
                <input type="email" id="adminEmail" class="form-input w-full p-2 mt-2 border border-blue-100 focus:outline-none focus:border-blue-200 rounded focus:ring focus:ring-blue-200" placeholder="admin email">
            </div>
              <div>
                <label for="adminPassword" class="block text-sm font-medium text-gray-600 mt-2">Password</label>
                <input type="password" name="password" id="adminPassword" class="form-input w-full p-2 mt-2 border border-blue-100 focus:outline-none focus:border-blue-200 rounded focus:ring focus:ring-blue-200" placeholder="admin password">
            </div>
            <div>
                <label for="adminRePassword" class="block text-sm font-medium text-gray-600 mt-2">Confirm Password</label>
                <input type="password" name="adminRePassword" id="adminRePassword" class="form-input w-full p-2 mt-2 border border-blue-100 focus:outline-none focus:border-blue-200 rounded focus:ring focus:ring-blue-200" placeholder="confirm admin password">
            </div>
            </div>
            <button type="submit" class="bg-sky-600 text-white p-2 rounded-md mt-2">Register an Admin</button>
          </div>
        </form>
      </ng-container>
  
      <!-- Admin Form -->
      <ng-template #managerTab>
  
        <form class="h-full">
          <div class="h-full flex flex-col justify-between">
            <div>
              <div>
                <label for="managerUsername" class="block text-sm font-medium text-gray-600 mt-2">Username</label>
                <input type="text" id="managerUsername" class="form-input w-full p-2 mt-2 border border-blue-100 focus:outline-none focus:border-blue-200 rounded focus:ring focus:ring-blue-200" placeholder="manager username">
              </div>
              <div>
                <label for="managerEmail" class="block text-sm font-medium text-gray-600 mt-2">Email</label>
                <input type="email" id="managerEmail" class="form-input w-full p-2 mt-2 border border-blue-100 focus:outline-none focus:border-blue-200 rounded focus:ring focus:ring-blue-200" placeholder="manager email">
              </div>
              <div>
                <label for="managerPassword" class="block text-sm font-medium text-gray-600 mt-2">Password</label>
                <input type="password" id="managerPassword" class="form-input w-full p-2 mt-2 border border-blue-100 focus:outline-none focus:border-blue-200 rounded focus:ring focus:ring-blue-200" placeholder="manager password">
            </div>
            <div>
                <label for="managerRePassword" class="block text-sm font-medium text-gray-600 mt-2">Confirm Password</label>
                <input type="password" name="managerRePassword" id="managerRePassword" class="form-input w-full p-2 mt-2 border border-blue-100 focus:outline-none focus:border-blue-200 rounded focus:ring focus:ring-blue-200" placeholder="confirm manager password">
            </div>
            </div>
            <button type="submit" class="bg-sky-600 text-white p-2 rounded-md mt-2">Register a Manager</button>
          </div>
        </form>
      </ng-template>
    </div>
  </div>
