<div
  class="relative z-10"
  aria-labelledby="modal-title"
  role="dialog"
  aria-modal="true"
>
  <form [formGroup]="updateDentistForm" (ngSubmit)="handleOnSubmit()">
    <div
      class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity"
    ></div>

    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
      <div
        class="center-item min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0"
      >
        <div
          class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg"
        >
          <div class="bg-white px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
            <!-- <div
                class="mx-auto flex h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-green-100 sm:mx-0 sm:h-10 sm:w-10"
              >
                <svg
                  class="h-6 w-6 text-green-600"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  aria-hidden="true"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z"
                  />
                </svg>
              </div> -->
            <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
              <h3
                class="text-base font-semibold leading-6 text-gray-900"
                id="modal-title"
              >
                Update Clients Info.
              </h3>
              <div class="mt-2">
                <div class="pb-12 mt-3 dentist-form">
                  <p
                    class="mt-1 text-sm leading-6 text-gray-600"
                    [ngStyle]="{ color: failMsg != '' ? 'red' : 'green' }"
                  >
                    <span *ngIf="successMsg != ''">{{ successMsg }}</span>
                    <span *ngIf="failMsg != ''">{{ failMsg }}</span>
                  </p>

                  <div
                    class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6"
                  >
                    <div class="lg:col-span-3 sm:col-span-6">
                      <label
                        for="name"
                        class="block text-sm font-medium leading-6 text-gray-900"
                        >Client's Name</label
                      >
                      <div class="mt-2">
                        <input
                          type="text"
                          name="name"
                          id="name"
                          formControlName="name"
                          autocomplete="name"
                          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-300 focus:outline-none focus:outline-none sm:text-sm sm:leading-6"
                        />
                      </div>
                      <div class="text-red">
                        <span
                          *ngIf="
                            updateDentistForm.controls.name.touched &&
                            updateDentistForm.controls.name.hasError('required')
                          "
                          >This field is required</span
                        >
                        <span
                          *ngIf="
                            updateDentistForm.controls.name.touched &&
                            updateDentistForm.controls.name.hasError(
                              'minlength'
                            )
                          "
                          >Name should be more than 3 letters</span
                        >
                        <span
                          *ngIf="
                            updateDentistForm.controls.name.touched &&
                            updateDentistForm.controls.name.hasError(
                              'maxlength'
                            )
                          "
                          >Name should be less than 30 letters</span
                        >
                      </div>
                    </div>

                    <div class="lg:col-span-3 sm:col-span-6">
                      <label
                        for="type"
                        class="block text-sm font-medium leading-6 text-gray-900"
                        >Client's Type</label
                      >
                      <div class="mt-2">
                        <select
                          id="type"
                          name="type"
                          autocomplete="type"
                          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-blue-300 focus:outline-none sm:max-w-xs sm:text-sm sm:leading-6"
                          formControlName="type"
                        >
                          <option value="Indvidual">Indvidual</option>
                          <option value="Hospital">Hospital</option>
                          <option value="Clinic">Clinic</option>
                        </select>
                      </div>
                      <div class="text-red">
                        <span
                          *ngIf="
                            updateDentistForm.controls.type.touched &&
                            updateDentistForm.controls.type.hasError('required')
                          "
                          >This field is required</span
                        >
                      </div>
                    </div>

                    <div class="col-span-full">
                      <label
                        for="email"
                        class="block text-sm font-medium leading-6 text-gray-900"
                        >Client's Email address</label
                      >
                      <div class="mt-2">
                        <input
                          id="email"
                          name="email"
                          type="email"
                          autocomplete="email"
                          formControlName="email"
                          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-300 focus:outline-none sm:text-sm sm:leading-6"
                        />
                      </div>
                      <div class="text-red">
                        <span
                          *ngIf="
                            updateDentistForm.controls.email.touched &&
                            updateDentistForm.controls.email.hasError(
                              'required'
                            )
                          "
                          >This field is required</span
                        >
                        <span
                          *ngIf="
                            updateDentistForm.controls.email.touched &&
                            updateDentistForm.controls.email.hasError('pattern')
                          "
                          >Email should end with &#64;(gmail | hotmail |
                          yahoo).com</span
                        >
                      </div>
                    </div>

                    <div class="col-span-full">
                      <label
                        for="phone"
                        class="block text-sm font-medium leading-6 text-gray-900"
                        >Client's Phone</label
                      >
                      <div class="mt-2">
                        <input
                          id="phone"
                          name="phone"
                          type="text"
                          autocomplete="phone"
                          formControlName="phone"
                          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-300 focus:outline-none sm:text-sm sm:leading-6"
                        />
                      </div>
                      <div class="text-red">
                        <span
                          *ngIf="
                            updateDentistForm.controls.phone.touched &&
                            updateDentistForm.controls.phone.hasError(
                              'required'
                            )
                          "
                          >This field is required</span
                        >
                        <span
                          *ngIf="
                            updateDentistForm.controls.phone.touched &&
                            updateDentistForm.controls.phone.hasError('pattern')
                          "
                          >Phone should start with 010, 011, 012 or 015</span
                        >
                      </div>
                    </div>

                    <div class="col-span-full">
                      <label
                        for="address"
                        class="block text-sm font-medium leading-6 text-gray-900"
                        >Client's Address</label
                      >
                      <div class="mt-2">
                        <input
                          type="text"
                          name="address"
                          id="address"
                          autocomplete="address"
                          formControlName="address"
                          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-300 focus:outline-none sm:text-sm sm:leading-6"
                        />
                      </div>
                      <div class="text-red">
                        <span
                          *ngIf="
                            updateDentistForm.controls.address.touched &&
                            updateDentistForm.controls.address.hasError(
                              'required'
                            )
                          "
                          >This field is required</span
                        >
                        <span
                          *ngIf="
                            updateDentistForm.controls.address.touched &&
                            updateDentistForm.controls.address.hasError(
                              'minlength'
                            )
                          "
                          >Address should be more than 4 letters</span
                        >
                      </div>
                    </div>
                    <div
                      class="col-span-full"
                      *ngIf="!requiredDentist.password"
                    >
                      <label
                        for="password"
                        class="block text-sm font-medium leading-6 text-gray-900"
                        >Client's Password</label
                      >
                      <div class="mt-2">
                        <input
                          type="text"
                          name="password"
                          id="password"
                          autocomplete="password"
                          formControlName="password"
                          class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-300 focus:outline-none sm:text-sm sm:leading-6"
                        />
                      </div>
                      <div class="text-red">
                        <span
                          *ngIf="
                            updateDentistForm.controls.address.touched &&
                            updateDentistForm.controls.address.hasError(
                              'pattern'
                            )
                          "
                          >Password must be at least 8 characters long and
                          include at least 1 uppercase letter, 1 lowercase
                          letter, 1 digit, and 1 special character</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
            <button
              type="submit"
              [disabled]="updateDentistForm.invalid"
              class="inline-flex w-full justify-center rounded-md bg-blue-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-blue-500 sm:ml-3 sm:w-auto"
            >
              <i class="fa fa-spin fa-spinner" *ngIf="isLoading"></i>
              <span *ngIf="!isLoading"> Update Client </span>
            </button>
            <button
              type="button"
              class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-red-500 sm:ml-3 sm:w-auto cancel-btn"
              (click)="handleClose()"
            >
              Cancel
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
